<section id="bodega" class="vinos">
  <div class="container-fluid ">
    <div class="row d-flex justify-content-center">
      <div class="mt-5">
        <p class="h2">
        Bodega
      </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mt-2">
        <p class="h4 text-center vinosblancos"> Albariños D.O. Rias Baixas</p>
        <ul class="list-group list-group-flush vinosblancos">
          <li class="list-group-item text-center py-2">Gran Bazán Etiqueta verde 13€</li>
          <li class="list-group-item text-center py-2">Gran Bazán Etiqueta ámbar 15€</li>
          <li class="list-group-item text-center  py-2">Cilenos (albariño de autor sin denominación) 9€ -copa 1,8€-</li>
          <li class="list-group-item text-center  py-2">Condes de Albarei 12€ -copa 2€-</li>
        </ul>

      </div>
      <div class="col-sm-12 mt-2">
        <p class="h4 text-center vinostintos "> Riojas</p>
        <ul class="list-group list-group-flush vinostintos">
          <li class="list-group-item text-center py-2">Vallobera (crianza) 14€ -copa 2,2€-</li>

        </ul>

      </div>
      <div class="col-sm-12 mt-2">
        <p class="h4 text-center vinosblancos"> Ribera del Duero</p>
        <ul class="list-group list-group-flush vinosblancos">
          <li class="list-group-item text-center py-2">Cillar de Silos (tempranillo) 15€ -copa 2,5€-</li>
          <li class="list-group-item text-center py-2">Cillar de Silos (crianza) 20€</li>

        </ul>

      </div>
      <div class="col-sm-12 mt-2">
        <p class="h4 text-center vinosblancos">D.O. Ribeira Sacra</p>
        <ul class="list-group list-group-flush vinosblancos">
          <li class="list-group-item text-center py-2">Ponte da Boga (Mencía) 13€</li>
          <li class="list-group-item text-center py-2">Ponte da Boga (Godello) 13€</li>

        </ul>

      </div>


      <div class="col-sm-12 mt-2">
        <p class="h4 text-center vinosblancos">D.O. Ribeiro</p>
        <ul class="list-group list-group-flush vinosblancos">
          <li class="list-group-item text-center py-2">San Clodio 12€ -copa 2,2€-</li>
        </ul>
      </div>
      <div class="col-sm-12 mt-2">
        <p class="h4 text-center vinosblancos">D.O. Castilla y León</p>
        <ul class="list-group list-group-flush vinosblancos">
          <li class="list-group-item text-center py-2">Abadía de Retuerta 17€</li>
        </ul>
      </div>
    </div>
  </div>

</section>
